In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

In [6]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [8]:
# how many columns in this dataset

In [7]:
df.shape[1]

5

In [9]:
# print column name

In [11]:
df.columns.values

array(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'], dtype=object)

In [12]:
# print index

In [15]:
df.index

RangeIndex(start=0, stop=4622, step=1)

In [16]:
# what is the most ordered item.

In [17]:
df['item_name'].value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Carnitas Salad Bowl                        6
Veggie Salad                               6
Burrito                                    6
Steak Salad                                4
Bowl                                       2
Crispy Tacos                               2
Salad                                      2
Veggie Crispy Tacos                        1
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Name: item_name, dtype: int64

In [21]:
c = df[['item_name','quantity']].groupby(['item_name']).agg({'quantity':sum})
c.sort_values(['quantity'],ascending=False).head(10)

                              quantity
item_name
Chicken Bowl                       761
Chicken Burrito                    591
Chips and Guacamole                506
Steak Burrito                      386
Canned Soft Drink                  351
Chips                              230
Steak Bowl                         221
Bottled Water                      211
Chips and Fresh Tomato Salsa       130
Canned Soda                        126

In [22]:
# how many unique meal in item_name

In [25]:
len(df['item_name'].unique())

50

In [26]:
df['item_name'].nunique()

50

In [27]:
# what is the most ordered item in choice_description

In [29]:
df['choice_description'].value_counts().head(5)

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

In [30]:
# how many items has been placed

In [31]:
df['quantity'].sum()

4972

In [32]:
# transfer the item_price to float

In [39]:
df['item_price'][1][1:]

'3.39 '

In [40]:
df['item_price2'] = df['item_price'].apply(lambda x: float(x[1:]))

In [41]:
df

,order_id,quantity,item_name,choice_description,item_price,item_price2
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

In [42]:
# What is the revenue

In [47]:
x = df['quantity']*df['item_price2']
x.sum()

39237.02

In [48]:
# how many unique order

In [49]:
df['order_id'].nunique()

1834

In [50]:
# what is the average price for each order

In [53]:
x2 = df[['order_id','item_price2','quantity']]
x2['total'] = x2['item_price2']*x2['quantity']

/Users/liziwei/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      order_id  item_price2  quantity  total
0            1         2.39         1   2.39
1            1         3.39         1   3.39
2            1         3.39         1   3.39
3            1         2.39         1   2.39
4            2        16.98         2  33.96
...        ...          ...       ...    ...
4617      1833        11.75         1  11.75
4618      1833        11.75         1  11.75
4619      1834        11.25         1  11.25
4620      1834         8.75         1   8.75
4621      1834         8.75         1   8.75

[4622 rows x 4 columns]

In [64]:
x2[['order_id','total']].groupby(by=['order_id']).agg({'total':'sum'})['total'].mean()

21.394231188658654

In [65]:
# how many unique item has been sold