In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv',sep=',')

In [4]:
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [4]:
# which continent has the most beer_servings

In [7]:
df.groupby(['continent']).beer_servings.mean().sort_values(ascending=False)

continent
EU     193.777778
SA     175.083333
NAm    145.434783
OC      89.687500
AF      61.471698
AS      37.045455
Name: beer_servings, dtype: float64

In [8]:
# print each continent's wine_servings's descriptive statistics

In [9]:
df.groupby(['continent']).wine_servings.describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
NAm         23.0   24.521739  28.266378  1.0   5.0   11.0   34.00  100.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

In [10]:
#print each continent's each beer's average consumption

In [15]:
df.groupby(['continent'])['beer_servings','spirit_servings','wine_servings'].mean()

           beer_servings  spirit_servings  wine_servings
continent
AF             61.471698        16.339623      16.264151
AS             37.045455        60.840909       9.068182
EU            193.777778       132.555556     142.222222
NAm           145.434783       165.739130      24.521739
OC             89.687500        58.437500      35.625000
SA            175.083333       114.750000      62.416667

In [16]:
# print each continent's alcohol's median

In [17]:
df.groupby(['continent'])['beer_servings','spirit_servings','wine_servings'].median()

           beer_servings  spirit_servings  wine_servings
continent
AF                  32.0              3.0            2.0
AS                  17.5             16.0            1.0
EU                 219.0            122.0          128.0
NAm                143.0            137.0           11.0
OC                  52.5             37.0            8.5
SA                 162.5            108.5           12.0

In [18]:
# print each continent's spirit's max min and median

In [22]:
df['spirit_servings'].groupby(['continent']).describe()

KeyError: 'continent'